# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Dependencies
node_modules/

# Environment
.env
.env.local
.env*.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local Netlify folder
.netlify

# Temporary files
*.log
*.lock
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
coverage/

# Production
build/
